* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
  background-color: #111111;
  font-family: Poppins, "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

//OVERORDNET STYLING
.vintext{
  color:#FFF1AA;
}
.rodvintext{
  color:rgb(116,14,38);
}
.vinborder{
  border: 1px solid #FFF1AA;
  border-radius: 30px;
}
.logo{
  height: 250px;
  width: auto;
}

.link:hover{
  color: #8a825c;
}

//FOOTER
.footer_logo{
  height: auto;
  width: 250px;
}

.footer_tekst{
  color: white;
  text-decoration: none;
}

.footer_tekst:hover{
  color: #d2d2d2;
}


//Round picture//
.rounded-custom{
  border-radius: 30px;
}
.container_pic_google-maps{
  width: 250px;
  height: 250px;
}

//------------------Andet----------//
.cta-phone{
  background-color: rgb(116,14,38);
  border: none;
}
.cta-phone-blue{
  background-color: rgb(14, 55, 116);
  border: none;
}
.cta-phone:hover{
  color: #d2d2d2;
}
.cta-phone-text{
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
.cta-phone-text:hover{
  color: #d2d2d2;
}

.gray-color{
  background-color: #1C1A19;
  filter: drop-shadow(0px 2px 10px #090607);
}


//MEDIA-QUERIES
@media only screen and (min-width: 480px){

}